# Some particularly large files
assets/2021/02/06/challenge/signal.ham filter=lfs diff=lfs merge=lfs -text
assets/2021/02/06/solution/06-sixteen_bit_code_one_bit_correction/result.avi filter=lfs diff=lfs merge=lfs -text
