---
layout: base
stylesheet: index
libs: [postsel, fa]
---

{% comment %}
    We could build this up ourselves with Flex, but Bootstrap has it.
{% endcomment %}
<div class="container align-items-start">
    <main id="theMain" class="row">
        <div class="col-xl-4">
            {% comment %}
                We'll use a container for the profile picture so that we can set
                the aspect ratio without having to load the image first. This
                prevents the content from shifting around when the image loads.
            {% endcomment %}
            <div id="profileImgContainer">
                <img id="profileImg" src="/assets/img/profile.webp"
                  alt="A picture of Ammar Ratnani"/>
            </div>

            {% comment %}
                Have the social media links be clickable.
            {% endcomment %}
            <div id="socialMediaLinks">
                <a href="https://www.linkedin.com/in/ammar-ratnani" aria-label="LinkedIn" class="text-body socialMediaLink"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/ammrat13" aria-label="GitHub" class="text-body socialMediaLink"><i class="fab fa-github-square"></i></a>
                <a href="mailto:ammrat13@gmail.com" aria-label="Email" class="text-body socialMediaLink"><i class="fas fa-envelope-square"></i></a>
            </div>
        </div>

        <div class="col-xl-8">
            <h1>About Me</h1>
            {% include about_me.html %}
        </div>
    </main>

    <hr/>

    <p>
        <h1>
            <a href="/feed.xml" aria-label="RSS Feed" class="text-body rssLink"><i class="fas fa-rss-square"></i></a>
            Recent Posts
        </h1>
    </p>
    {% include post_select.html start='0' num=site.data.post_select.homeNumSel %}
</div>
