---
---

/* For styling the results of the post selector */

.postSelectContainer {
    /* We use flexbox for this */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

/* To be used by both items and placeholders */
%postSelectFlexItem {
    /* Set the ideal size, but allow it to grow */
    flex-basis: 15rem;
    flex-grow: 1;
}
.postSelectItem {
    @extend %postSelectFlexItem;
    /* Keep some margin around the items */
    margin: 1rem 1rem;
}
.postSelectPlaceholder {
    @extend %postSelectFlexItem;
    /* Don't have any height for placeholders */
    margin: 0 1rem;
}

.postSelectLink {
    font-size: 150%;
}
