<!-- Note that this file has to be HTML since its includer is HTML -->

<p>
    Hey! I'm a fourth year Computer Science major at Georgia Tech, specializing
    in Systems &amp; Architecture and Theory. Outside of school, I enjoy doing
    personal projects. They allow me to go beyond the course material and have
    fun at the same time. I figured my work wasn't doing much just sitting
    around. So, I started this site, thinking y'all might get something out of
    my efforts too.
</p>

<p>
    Feel free to look through what I've done. You might also want to see the
    projects I have hosted on GitHub. Also, don't be afraid to reach out to me.
    Just shoot me an email, and I'll get back to you.  (Eventually.)
</p>
