<!-- Selects the number of posts given in its parameters -->
<!-- Also formats them using Bootstrap -->

<div class="postSelectContainer">

    <!-- We add a few `reverse`s because the indicies supplied are in
          chronological order, while `site.posts` is in reverse -->
    <!-- We reverse again at the end since we want to present in reverse -->
    {% assign iterArr = site.posts
                        | where_exp: "p", "p.id != include.skipId"
                        | reverse
                        | slice: include.start, include.num
                        | reverse %}

    {% for post in iterArr %}

        <div class="card postSelectItem">
            <div class="card-body">
                <a href="{{post.url}}" class="text-body stretched-link postSelectLink"/>{{post.title}}</a>
            </div>
            <div class="card-footer">
                <em class="text-secondary">On {{post.date | date: "%-d %B %Y"}}</em>
            </div>
        </div>

    {% endfor %}

</div>
