---
---

@import "shared";


.postBlock {
    /* Needed to stretch links */
    position: relative;
}

.postLink {
    font-size: 130%;
}


/* Copy from `index.scss` */
.rssLink:hover {
    opacity: .7;
}

#postPagination {
    /* Have some margin between the posts and the pagination */
    margin-top: 2rem;

    /* Use flexbox to center the pagination */
    display: flex;
    justify-content: center;
}
