---
# Have some default values
stylesheet: index
libs: []
---

<!DOCTYPE html>
<html lang="en-US">

    <head>

        {% comment %} Boilerplate {% endcomment %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{site.description}}"/>

        {% comment %} Bootstrap {% endcomment %}
        {% comment %} JQuery {% endcomment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

        {% comment %} Process Includes {% endcomment %}
        {% assign libList = page.libs | concat: layout.libs %}
        {% for lib in libList %}
            {% if lib == "postsel" %}
                {% comment %}
                    If we use the post selector, import the styles.
                {% endcomment %}
                <link rel="stylesheet" href="/assets/css/util/post_select.css"/>
            {% elsif lib == "fa" %}
                {% comment %} Font Awesome {% endcomment %}
                <script src="https://kit.fontawesome.com/09a6f434c3.js" crossorigin="anonymous"></script>
            {% elsif lib == "mathjax" %}
                {% comment %} MathJax {% endcomment %}
                <script>
                    MathJax = {
                        tex: {
                            inlineMath: [['@@', '@@']],
                            displayMath: [['%%', '%%']]
                        }
                    };
                </script>
                <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.5/es5/tex-mml-chtml.js" crossorigin="anonymous"></script>
            {% elsif lib == "code" %}
                {% comment %} Custom code highlighting {% endcomment %}
                <link rel="stylesheet" href="/assets/css/util/code.css"/>
            {% else %}
                {% comment %} Error {% endcomment %}
                <script> console.error("Unknown library include: {{lib}}"); </script>
            {% endif %}
        {% endfor %}

        {% comment %} My libraries {% endcomment %}
        <link rel="stylesheet" href="/assets/css/{{page.stylesheet | default: layout.stylesheet}}.css"/>

        {% comment %} If the page has a title, use that {% endcomment %}
        {% if page.title %}
            {% comment %} Append the site name with a dash {% endcomment %}
            <title>{{ page.title | append: " - " | append: site.title }}</title>
        {% else %}
            {% comment %} Otherwise, just use the site's title {% endcomment %}
            <title>{{site.title}}</title>
        {% endif %}

    </head>

    <body>

        {% comment %} Bootstrap navbar for navigation {% endcomment %}
        <nav id="topLevelNav" class="navbar navbar-expand-md navbar-light bg-light">
            {% comment %} Brand {% endcomment %}
            <a class="navbar-brand" href="/index.html"/>{{site.title}}</a>

            {% comment %} For collapsing {% endcomment %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topLevelNavCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% comment %} The thing to collapse {% endcomment %}
            <div class="collapse navbar-collapse" id="topLevelNavCollapse">
                <ul class="navbar-nav ml-auto">
                    {% for link in site.data.navbar_links %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{link.page}}">{{link.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <div id="content">
            {{ content }}
        </div>
    </body>

</html>
